.register__button {
  border: 0;
  width: 358px;
  height: 50px;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: 186px;
  border-radius: 2px;
  cursor: pointer;
}

.register__button:hover {
  opacity: 0.6;
  transition: opacity ease-in;
}

@media screen and (max-width: 879px) {
.register__button {
  width: 260px;
  height: 46px;
  font-size: 16px;
  line-height: 19px;
  margin-top: 143px;
}
}