.header__email {
  margin: 51px 0 46px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-right: 24px;
}

@media screen and (max-width: 879px) {
  .header__email {
    margin: 38px 0 46px;
  }
}

@media screen and (max-width: 550px) {
  .header__email {
    margin: 0;
    padding-bottom: 18px;
  }
}