.elements__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 17px;
  padding: 0;
  margin: 0;
  }

@media screen and (max-width: 880px) {
  .elements__list {
    grid-template-columns: 1fr 1fr;
    max-width: calc(100% - 38px);
    margin: auto;
  }
}

@media screen and (max-width: 620px) {
  .elements__list {
    grid-template-columns: 1fr;
  }
}